asgiref==3.8.1
attrs==25.3.0
certifi==2025.8.3
charset-normalizer==3.4.3
cloudinary==1.44.1
coreapi==2.3.3
coreschema==0.0.4
dj-database-url==3.0.1
Django==5.2.6
django-cloudinary-storage==0.3.0
django-cors-headers==4.8.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.10
gunicorn==23.0.0
idna==3.10
importlib_resources==6.5.2
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.2
numpy==2.1.1
packaging==25.0
pandas==2.2.2
pillow==11.3.0
psycopg2-binary==2.9.9
PyJWT==2.10.1
PyMySQL==1.1.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.2
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.5
rpds-py==0.27.1
six==1.16.0
sqlparse==0.5.1
swagger-spec-validator==3.0.4
typing_extensions==4.15.0
tzdata==2024.1
uritemplate==4.2.0
urllib3==2.5.0
whitenoise==6.10.0
