Django==5.2.6
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
drf-yasg==1.21.10
django-cors-headers==4.8.0
dj-database-url==3.0.1
psycopg2-binary==2.9.9
python-decouple==3.8
whitenoise==6.10.0
gunicorn==23.0.0
pymysql==1.1.0